body
{
	font-family: 'Lato', sans-serif;
	background-color: rgb(20,20,20);
	margin: 0 !important;
}
p
{
	padding: 0;
}
table
{
	width: 100%;
	font-size: 22px;
	text-shadow: 1px -2px black;
	color: white;
	border: 1px solid rgb(43,43,43);
	border-collapse: collapse;
}
tr, td
{
	border-bottom: 1px solid rgb(43,43,43);
	padding-left: 10px;
}
th
{
	border-bottom: 1px solid rgb(43,43,43);
	height: 40px;
	text-align: center;
}
table#t01 tr:nth-child(even) 
{
    background-color: rgb(31,31,31);
}
table#t01 tr:nth-child(odd) 
{
   background-color: rgb(39,39,39);
}
#wrapper
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#header
{
	height: 36px;
	font-size: 18px;
	color: rgb(207, 214, 214);
	border: 1px solid rgb(40,40,40);
	text-shadow: 1px -2px black;
	padding-top: 12px;
	padding-left: 10px;
	background: rgb(59,59,59); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* Standard syntax */
}
#date
{
	float: left;
	width: 33%;
	text-align: left;
}
#time
{
	padding-left: 18px;
	float: left;
	width: 30%;
	text-align: center;
}
#temp
{
	float: left;
	width: 30%;
	text-align: right;
}
#menu
{
	height: 40px;
	border: 1px solid rgb(40,40,40);
	color: rgb(85, 173, 32);
	padding-top: 8px;
	padding-left: 10px;
	font-size: 26px;
	text-shadow: 1px -2px black;
	background: rgb(59,59,59); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(82,82,82), rgb(59,59,59)); /* Standard syntax */
}
#content
{
}
.roomName
{
	width: 800px;
}
#button
{
	width: 224px;
	height: 48px;
	font-size: 24px;
	color: white;
	text-align: center;
}
#buttonOn1, #buttonOn2, #buttonOn3, #buttonOn4, #buttonOn5, #buttonOn6, #buttonOn7, #buttonOn8, #buttonOn9, #buttonOn10
{
	float: left;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid white;
	transition: 0.4s;
	margin: 3px;
}
#buttonOff1, #buttonOff2, #buttonOff3, #buttonOff4, #buttonOff5, #buttonOff6, #buttonOff7, #buttonOff8, #buttonOff9, #buttonOff10
{
	float: left;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid white;
	transition: 0.4s;
	margin: 3px;
}
.addition
{
	float: left;
	width: 46px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid white;
	transition: 0.4s;
	margin: 3px;
}
.substraction
{
	float: left;
	width: 46px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid white;
	transition: 0.4s;
	margin: 3px;
}
.range
{
	float: left;
	width: 145px;
	padding-top: 8px;
	padding-bottom: 5px;
	margin: 3px;
}
.rangeOutput
{
	float: left;
	width: 30px;
	padding-top: 5px;
	padding-bottom: 5px;

	margin: 3px;
	
}

#temp1, #temp2, #temp3, #temp4, #temp5, #temp6, #temp7, #temp8, #temp9, #temp10
{
	float: left;
	width: 100px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 2px;
	border-radius: 5px;
	transition: 0.4s;
	margin: 3px;
}
#button:hover
{
	cursor: pointer;
}

@media screen and (max-width: 800px) and (min-width: 160px) {
#wrapper
{
	width: 100%;
	min-width: 480px;
	margin-left: auto;
	margin-right: auto;
}
}
